{% extends "home/index.html" %}
{% load static %}
{% block my_blog_header %}
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Lista de Directores</h1>
                    <span class="subheading">My blog</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'director:director-add' %}">Crear nuevo director</a>
    </div>
</header>
{% endblock %}

{% block my_blog_content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            
            {% for director in director_list %}
                <!-- Post preview-->
                <div class="post-preview">
                        <h2 class="post-title">{{ director.name }} {{ director.last_name }}</h2>
                        <h3 class="post-subtitle">Produjo  {{ director.movies }} peliculas </h3>
                        <h4 class="post-subtitle">Fecha de nacimiento: {{ director.birth }}</h4>
                        

                        

                </div>        
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

<!--Pagination-->
<div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if director_list.has_previous %}
                <a href="?page=1">&laquo; first</a> |
                <a href="?page={{ director_list.previous_page_number }}">previous</a> |
            {% endif %}

            {% if director_list.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ director_list.number }} of {{ director_list.paginator.num_pages }} |
            </span>
            {% endif %}

            {% if director_list.has_next %}
                <a href="?page={{ director_list.next_page_number }}">next</a> |
                <a href="?page={{ director_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<!--end of Pagination-->

<!--Pagination Class Based Views-->
{% if is_paginated %}
<div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a> |
                <a href="?page={{ director_list.previous_page_number }}">previous</a> |
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
            </span>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a> |
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
<!--end of Pagination-->

{% endblock %}

